<div class="banner">
</div>
<div class="container">
  <div class="row elements">
    <div class="col-9">
      <div class="card flat-intro">
        <div class="card-body">
          <h2 class="card-title"><%= @flat.name %></h2>

          <p class="card-text"><%= @flat.address %></p>

        </div>

      </div>
      <div class="card flat-content">
        <div class="card-body">
          <p class="card-text"><%= @flat.description %></p>
        </div>
      </div>
    </div>
    <div class="col-3">test</div>
  </div>
</div>
